*{
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}
/* site header */

.site-header {
 
  background: #fff;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
}
.site-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  transition: opacity 0.4s ease;

}
.logo-link img {
  display: block;
}
.logo-link:hover {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.6;
}
.site-header-right {
  display: flex;
  align-items: center;
}

/* SITENAV */
.sitenav-list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 32px;
}
.sitenav-item{
  margin-right: 32px;
}
.sitenav-item:last-child {
  margin-right: 0;
}
.sitenav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  transition: color 0.4s ease, opacity 0.6 ease;
}
.sitenav-link:hover {
  color: #ff7500;
}
.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #ff7500;
  text-decoration: none;
  transition: opacity 0.4s ease;
  padding: 12px 24px;
  border-radius: 4px;
}
.main-link:hover {
  opacity: 0.8;
}
.main-link:active {
  opacity: 0.6;
}
/* HERO */
.hero {
  background: #252420;
  color: #fff;
 
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  width: 390px;
}
.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 rgba(255, 117, 0, 0.6);
}
.orange-line {
  width: 80px;
  height: 3px;
  background: #ff7500;
  border: none;
  margin: 0;
  margin-bottom: 40px;
}
.hero-title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}

/* FEATURES */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature {
  width: 340px;
  margin-right: 40px;
}
.feature:last-child {
  margin-right: 0;
}
.features-title {
  font-family: "Roboto Condensed", sans-serif;
  width: 440px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0;
  margin-bottom: 72px;
}
.features-list {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0;
}
.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 117, 0, 0.2);
  margin-bottom: 32px;
}
.features-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
  margin-top: 0; 
  margin-bottom: 12px;
}
.features-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0;

}
/* PROMO  */

.promo {
  padding-top: 120px;
  padding-bottom: 160px;  
  
}
.promo-inner {
  padding: 64px;
  background: #252420;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.promo-info {
  width: 440px;
}
.promo-title {
  font-family: "Roboto Condensed", sans-serif;
  width: 375px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-text {
  width: 440px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}
.promo-text:last-child{
  margin-bottom: 0;
}
.promo-info-wrapper {
  margin-bottom: 24px;
}
.promo-highlight {
  color: #ff7500;
}
.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

/* site-footer */

.site-footer {
  background: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
 
}
.social-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-hr {
  /* width: 1100px; */
  border: none;
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
  margin-top: 40px;
  margin-bottom: 64px;
}
.site-footer-list {
  list-style: none;
  /* width: 224px; */
  padding: 0;
  margin: 0;
  /* margin-right: 68px; */
}
.site-footer-list li {
  margin-bottom: 16px;
}
.site-footer-list li:last-child {
  margin-bottom: 0;
}

.site-footer-social-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; 
}
.site-footer-social-list svg {
  display: block;
}
.site-footer-social-list li  {
  margin-right: 16px;
}
.site-footer-social-list li:last-child {
  margin-right: 0;
}
.site-footer-social-list a {
  color: #252420;
  display: block; 
}
.site-footer-social-list a:hover {
  color: #ff7500;
}
.site-footer-social-list a:active {
  opacity: 0.6;
}
.site-footer-links {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  /* justify-content: space-between; */
}
.site-footer-list {
  max-width: 224px;
  width: 100%;
  /* border: 2px solid red; */
}

.site-footer-list:not(:last-child){
  margin-right: 68px;
}

.site-footer-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
  transition: opacity 0.4s ease;
  /* padding: 0;
  margin: 0; */
  /* width: 224px; */
  margin-right: 68px;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;

}
.site-footer-link:hover {
  color: #ff7500;
}
.site-footer-link:active {
  opacity: 0.6;
}
